html {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
/*encabezado*/
.encabezado-sitio {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 20px;
}
.logo {
  text-align: center;
}
.logo img {
  width: 200px;
  height: auto;
}
.contenedor {
  position: relative;
}
#menu-header {
  display: flex;
  flex-flow: row wrap;
}
#menu-header li {
  width: 20%;
  margin: 0;
}
#menu-header li.current_page_item a {
  background-color: #f19f30;
  color: #fff;
}
#menu-header a {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
#menu-header a:hover {
  background-color: #f19f30;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #000;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.informacion-encabezado {
  position: absolute;
  top: 0;
  right: 0;
}
.hero {
  height: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.hero h1 {
  margin: 0;
}
.hero p {
  color: #fff;
  font-size: 30px;
}
.hero .text-banner,
.hero a {
  position: relative;
  margin: 0;
  z-index: 10;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
.hero-title {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
}
.w-main {
  margin-top: -100px;
  background-color: #fff;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  padding: 50px;
}
footer {
  text-align: center;
  border-top: 1px solid #c1c1c1;
  padding-top: 20px;
}
#menu-header-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#menu-header-1 li {
  margin: 9px;
}
#menu-header-1 li a {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #000;
}
.informacion-cajas {
  display: flex;
  flex-flow: row wrap;
}
.caja {
  width: 33.33%;
}
.caja img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caja:nth-child(2) .contenido-caja {
  background-color: #127427;
}
.caja:nth-child(3) .contenido-caja {
  background-color: #a61206;
}
.contenido-caja {
  box-sizing: border-box;
  padding: 10px;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f19f30;
  color: #fff;
}
.contenido-caja h3 {
  color: #fff;
}
.contenedor-grid {
  display: flex;
  flex-flow: row wrap;
}
.menu-item-list {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 20px;
}
.menu-item-list img {
  max-width: 100%;
  height: auto;
}
.menu-title {
  display: flex;
  justify-content: space-between;
}
.menu-title span {
  margin: 0;
}
.principal-blog {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.principal-blog main {
  width: 68%;
  margin: 0;
}
.principal-blog main img {
  max-width: 100%;
  height: auto;
}
.principal-blog aside {
  width: 31%;
  margin: 0;
}
.title-red {
  text-align: center;
  color: #ba1803;
}
.home-wrapitem {
  display: flex;
  flex-flow: row wrap;
}
.home-itemesp {
  width: 33%;
  margin: 0;
}
.home-itemesp img {
  max-width: 100%;
  height: auto;
}
